@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 font-sans selection:bg-brand-500 selection:text-white;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f5f3ff;
}
::-webkit-scrollbar-thumb {
  background: #c4b5fd;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8b5cf6;
}
